<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/all.css">
    <script src="https://kit.fontawesome.com/3113ae62d0.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <!-- Conteinar Section start -->
    <section class="container">
        <div class="right-part">
            <div class="topbar">
                <div class="top-inner">
                    <div class="logo">
                        <a href="#">
                            <img src="/static/img/dark.png" alt="">
                        </a>
                    </div>
                    <div class="trigger">
                        <div class="hamburger">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu">
                <div class="menu-list">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/portfolio">Portfolio</a>
                        </li>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="portfolio">
            <div class="left-part">
                <div class="logo">
                    <a href="#">
                        <img src="/static/img/dark.png" alt="">
                    </a>
                </div>
                <div class="info">
                    <ul class="info-ul">
                        <li> <a href="/">Home</a></li>
                        <li> <a href="/about">About</a> </li>
                        <li> <a href="/portfolio">Portfolio</a></li>
                        <li> <a href="/blog">Blog</a></li>
                        <li> <a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <footer>
                    <div><span>© 2021 Tokyo</span></div>
                    <div class="end"><span>Created by <a href="#">Marketify</a></span></div>
                </footer>
            </div>
        </div>
        <div class="blog-heading">
            <div class="blog-header">
                <div class="blog-button">
                    <p>Blog</p>
                </div>
                <div class="blog-container">
                    <div class="card">
                        <div class="first-image"></div>
                        <div class="card-text">
                            <h3>Flask Nədir?</h3>
                        </div>
                        <a href="https://medium.com/pragmatech/flask-n%C9%99dir-c1acdf4d7fc3">Read More</a>
                    </div>
                    <div class="card">
                        <div class="second-image"></div>
                        <div class="card-text">
                            <h3>Mentor kimdir?</h3>
                        </div>
                        <a href="https://medium.com/@sabuhiq0/mentor-n%C9%99dir-1c82d60b5f90">Read More</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="mausemove">
            <div class="cursor-circle"></div>
            <div class="cursor-point"></div>
        </div>
    </section>


    <!-- Js -->
    <script src="/static/js/app.js"></script>
</body>

</html>