<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/portfolio/static/css/all.css">
    <title>Document</title>
</head>

<body>
    <section class="container">
        <div class="portfolio">
            <div class="logo">
                <a href="#">
                    <img src="/portfolio/static/img/dark.png" alt="">
                </a>
            </div>
            <div class="info">
                <ul class="info-ul">
                    <li> <a href="/portfolio/templates/app/index.html">Home</a></li>
                    <li> <a href="/portfolio/templates/app/about.html">About</a> </li>
                    <li> <a href="/portfolio/templates/app/portfolio.html">Portfolio</a></li>
                    <li> <a href="/portfolio/templates/app/blog.html">Blog</a></li>
                    <li> <a href="/portfolio/templates/app/contact.html">Contact</a></li>
                </ul>
            </div>
            <footer>
                <div><span>© 2021 Tokyo</span></div>
                <div class="end"><span>Created by <a href="#">Marketify</a></span></div>
            </footer>
        </div>
        <div class="heading">
            <form class="contactform">
                <div class="contact-info">
                    <input type="name" placeholder="Name">
                    <input type="email" placeholder="Email">
                </div>
                <div class="contact-text">
                    <input type="message" placeholder="Message">
                </div>
                <div class="contact-button">
                    <button>Send Message</button>
                </div>
            </form>
        </div>

    </section>

</body>

</html>