<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Google font / web -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3113ae62d0.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <section class="container">
        <div class="right-part">
            <div class="topbar">
                <div class="top-inner">
                    <div class="logo">
                        <a href="#">
                            <img src="/static/img/dark.png" alt="">
                        </a>
                    </div>
                    <div class="trigger">
                        <div class="hamburger">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu">
                <div class="menu-list">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/portfolio">Portfolio</a>
                        </li>
                        <li>
                            <a href="/blog">Blog</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="portfolio">
            <div class="left-part">
                <div class="logo">
                    <a href="#">
                        <img src="/static/img/dark.png" alt="">
                    </a>
                </div>
                <div class="info">
                    <ul class="info-ul">
                        <li> <a href="/">Home</a></li>
                        <li> <a href="/about">About</a> </li>
                        <li> <a href="/portfolio">Portfolio</a></li>
                        <li> <a href="/blog">Blog</a></li>
                        <li> <a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <footer>
                    <div><span>© 2021 Tokyo</span></div>
                    <div class="end"><span>Created by <a href="#">Marketify</a></span></div>
                </footer>
            </div>
        </div>
        <div class="heading">
            <div class="img"></div>
            <div class="about">
                <div class="content">
                    <h3>Laman Majidli</h3>
                    <span>Creative Photographer based in New York and happy to travel all over Europe to capture photos.</span>
                </div>
                <div class="social-all">
                    <div class="social">
                        <div>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                        </div>
                        <div>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                        <div>
                            <a href=""><i class="fab fa-twitter-square"></i></a>
                        </div>
                        <div>
                            <a href=""><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="mausemove">
            <div class="cursor-circle"></div>
            <div class="cursor-point"></div>
        </div>
    </section>


    <!-- Js -->
    <script src="/static/js/app.js"></script>
</body>

</html>