    /* All Portfolio style */
    /* Body style */
    
    body {
        font-family: 'Montserrat', sans-serif;
        line-height: 2rem;
        margin: 0px;
        font-size: 1rem;
        word-wrap: break-word;
        color: #767676;
    }
    /* .tochka {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 8px;
        height: 8px;
        border: 1px olid #000;
        border-radius: 50%;
        pointer-events: none;
        transform: translate(-50%, -50%);
        transition: .15s;
    } */
    /* .krug {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 50px;
        height: 50px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        pointer-events: none;
        transform: translate(-50%, -50%);
        transition: .1s;
    } */
    /* .tochka-qara:hover {
        opacity: .5s;
    } */
    /* .mousemove {
        display: flex;
        align-items: center;
        justify-content: center;
    } */
    
    .krug {
        width: 2rem;
        height: 2rem;
        border: 0.13rem solid black;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        transition: all .1s ease;
    }
    
    .tochka {
        width: 0.5rem;
        height: 0.5rem;
        /* border: 1px solid #000; */
        position: absolute;
        border-radius: 1%;
        background-color: #000;
        top: 0px;
        left: 0px;
        right: 0px;
        transition: all .15s ease;
    }
    /* NavBar style */
    
    .container {
        margin-left: 25%;
        /* width: 100%; */
        height: 100vh;
    }
    
    .portfolio {
        display: flex;
        flex-direction: column;
        width: 14rem;
        height: 100vh;
        padding: 0 4.38rem 0 4.38rem;
        justify-content: center;
        position: fixed;
        left: 0;
        top: 0;
        overflow-y: hidden;
        background-color: white;
    }
    
    .info {
        width: 13rem;
        position: relative;
        right: 0.7rem;
    }
    
    .info a {
        padding: 0.37rem 0.025rem;
    }
    
    .info-ul {
        padding: 2.5rem 0 3.12rem 0;
        width: 100%;
        float: left;
        margin: 0rem;
    }
    
    .info-ul a {
        text-decoration: none;
        color: #767676;
        letter-spacing: 0.125rem;
        text-align: left;
        font-size: 0.814rem;
        font-weight: 600;
        padding: 1.25rem;
    }
    
    .info-ul a:hover {
        color: #000;
        font-size: 1rem;
        transition: all 0.25s;
        letter-spacing: 0.05rem;
    }
    
    ul li {
        list-style: none;
        font: 1rem;
    }
    
    ul>:first-child {
        color: #000;
    }
    
    footer .end a {
        color: #787878;
        text-decoration: none;
        font-style: italic;
    }
    
    .end a:hover {
        color: #000;
        font-size: 1rem;
        transition: all 0.25s;
        letter-spacing: 0.05rem;
    }
    /* Heading -Home style */
    
    .heading {
        background-color: rgb(247, 248, 248);
        width: 100%;
        height: 100vh;
        left: 1.564rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .heading span {
        box-sizing: border-box;
        /* padding-left: 15%; */
        color: #767676;
        margin-bottom: 1.25rem;
    }
    
     .img {
        background-repeat: no-repeat;
        width: 15.625rem;
        height: 15.625rem;
        background-size: cover;
        background-image: url(/portfolio/static/img/IMG_8840.jpg);
        border-radius: 50%;
        background-position: center;
        margin-right: 3.44rem;
    }
    
    .about {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 30rem;
    }
    
    .about h3 {
        font-size: 3rem;
        color: #000;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
    }
    
    .social {
        color: #000;
        display: flex;
    }
    
    .social>div {
        padding: 0 0.75rem 0 0;
    }
    
    .social-all {
        display: flex;
        justify-content: left;
        margin-left: 6%;
        width: 32rem;
    }
    
    i {
        color: #000;
        font-size: 1rem;
        margin: 0.314rem;
    }
    /* About style  */
    
    .about-container {
        /* position: fixed; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 49rem;
        height: 100%;
    }
    
    .header-img {
        background-image: url(/portfolio/static/img/1.jpg);
        margin-top: 1.56rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 49rem;
        height: 24rem;
    }
    
    .about-content {
        display: flex;
        flex-direction: row;
        align-content:space-around;
        justify-content: space-around;
        margin-top: 2.20rem;
        z-index: 0.05rem;
    }
    
    .info-box {
        width: 22rem;
        margin-right: 10rem;
    }
    
    .name h3 {
        color: #000;
    }
    
    .about-button {
        width: 10rem;
        height: 3.314rem;
        text-align: center;
        background-color: #000;
        color: #fff;
        transition: 0.5s;
    }
    
    .about-button:hover {
        width: 11.25rem;
        letter-spacing: 0.05rem;
        transition: 0.5;
    }
    
    .span-hover:hover {
        cursor: pointer;
        transition: 0.5s;
        letter-spacing: 0.15rem;
    }
    
    data-box {
        box-sizing: border-box;
        margin-top: 4.38rem;
        color: #000;
        width: 4.38rem;
        padding: 0 3.125rem;
        justify-content: space-between;
    }
    
    .data-box span {
        color: #767676;

    }


    /* .container {
    display: flex;
    align-items: center;
} */
    /* Portfolio style */

    .heading-portfolio {
        background-color: rgb(247, 248, 248);
        justify-content: center;
        align-items: center;
    }
    
    .header {
        height: 100vh;
    }
    
    .header-button button {
        width: 5.875rem;
        height: 2.375rem;
        margin-top: 1rem;
        margin-right: 30rem;
        background-color: #0000000A;
        color: #000000;
        font-size: 0.938rem;
        border: none;
        box-shadow: 0 0.252rem 0.5rem 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
    
    .header-button button :hover {
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    }
    

    /* Blog style */

    .blog-button p {
        width: 5.875rem;
        height: 2.375rem;
        background-color: #0000000A;
        color: #000000;
        font-size: 1rem;
        border: none;
        text-align: center;
        box-shadow: 0 0.25rem 05rem 0 rgba(0, 0, 0, 0.2);
    }
    
    .blog-button p:hover {
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    }
    
    .blog-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        cursor: pointer;
    }
    
    .blog-container:hover {
        transition: all 0.25s;
    }
    
    .card {
        background-color: white;
        width: 22.5rem;
        height: 16.875rem;
        margin: 0.625rem;
        box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }
    
    .card:hover {
        font-size: 1rem;
        transition: all 0.25s;
        letter-spacing: 0.016rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    }
    
    .first-image {
        background-image: url(../img/flask.png);
        height: 13.125rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .second-image {
        background-image: url(../img/mentor.jpeg);
        height: 13.125rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    h3 {
        color: #000000;
        font-size: 1rem;
        text-align: center;
    }
    
    .card a {
        background-color: white;
        text-decoration: none;
        text-align: center;
        color: #000000;
        display: block;
        font-size: 1rem;
    }

    /* Contact style */
    
    .contactform {
        display: flex;
        flex-direction: column;
        width: 48rem;
        height: 100%;
        justify-content: center;
        padding-left: 5%;
    }
    
    .contact-info input {
        background-color: rgb(247, 248, 248);
        border: 0.05rem solid rgba(0, 0, 0, .2);
        box-sizing: border-box;
        padding: 1.25rem;
        width: 46rem;
        height: 1.375rem;
        margin-bottom: 1.25rem;
    }
    
    .contact-text input {
        background-color: rgb(247, 248, 248);
        border: 0.06rem solid rgba(0, 0, 0, .2);
        padding: 0.625rem;
        width: 47rem;
        height: 7.5rem;
        box-sizing: border-box;
        padding-bottom: 6.25rem;
        margin-bottom: 1.25rem;
    }
    
    .contact-button button {
        background-color: #000;
        border: 0.06rem solid rgba(0, 0, 0, .2);
        color: #fff;
        padding: 0.5rem 2.5rem 0.8rem 2.5rem;
        width: 12rem;
        height: 3.313rem;
    }
    
    .contact-button button:hover {
        transition: all 0.25s;
        letter-spacing: 0.05rem;
        cursor: pointer;
        /* font-style: italic; */
    }